.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px #ccc solid;
  width: 50%;
}

.App .TodoItem{
  text-align: left;
}


.App{
  margin-left: 25%;
  margin-top: 50px;
}

.Header img{
  width: 32px;
  margin-right: 50px;
}
.Header{
  width: 100%;
  display: flex;
}

.Header input{
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.Header input:focus{
  background-color: #ccc;
}

.Header input{
  background-color: rgb(218, 218, 218);
}

.Header{
  border-bottom: 1px solid #ccc;
}